{% extends 'base.html' %}


{% block content %}

   <main class="container py-5" >
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum dignissimos ab totam explicabo odio delectus architecto quos, placeat incidunt ipsum amet eos, a animi illum rerum. Beatae quas neque consequuntur!</p>
        
        <div class="text-center">

            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-secondary" href="/signup/">
                Signup
            </a>
        </div>


    </section>
   </main>

{% endblock %}